.footer3{
	width:100%;
	height:80px;
	display:table;
	position:absolute;
	bottom:0;
	left:0;
	right:0;
	z-index:20px;
}
.footer3 .ic{
	width:1200px;
	height:70px;
	display:table;
	margin:10px auto 0 auto;
	padding:3px 0 0 0;
}
.footer3 .ic .sol{
	width:auto;
	height:70px;
	padding-left:100px;
	display:table;
	float:left;
}
.footer3 .ic .sol .img{
	float:left;
	margin:10px 20px;
}
.footer3 .ic .sag{
	width:50%;
	height:70px;
	display:table;
	float:right;
	background-image:url(../img/footer-icons-bg.png);
	background-position:bottom right;
	background-repeat:no-repeat;
	background-size:100% 100%;
}
.footer3 .ic .sag img{
	margin-top:10px;
	margin-right:110px;
	float:right;
}


@media only screen and (max-width: 1280px) {
.footer3 .ic{
	width:1100px;
}
.footer3 .ic .sol{
	width:30%;
	padding-left:0;
}
.footer3 .ic .sag{
	width:55%;
}
}
@media only screen and (max-width: 1180px) {
.footer3 .ic{
	width:1000px;
}
.footer3 .ic .sol{
	width:34%;
}
.footer3 .ic .sag{
	width:60%;
}
}
@media only screen and (max-width: 1080px) {
.footer3 .ic{
	width:900px;
}
.footer3 .ic .sol{
	width:29%;
}
.footer3 .ic .sag{
	width:65%;
}
.footer3 .ic .sol .img{
	float:left;
	margin:10px 10px;
	width:24px;
}
}
@media only screen and (max-width: 980px) {
.footer3 .ic{
	width:800px;
}
.footer3 .ic .sol{
	width:34%;
}
.footer3 .ic .sag{
	width:65%;
}
.footer3 .ic .sag img{
	margin-right:60px;
}

}

@media only screen and (max-width: 880px) {
.footer3 .ic{
	width:700px;
}
.footer3 .ic .sol{
	width:24%;
}
.footer3 .ic .sag{
	width:75%;
}
.footer3 .ic .sol .img{
	float:left;
	margin:8px;
	width:16px;
}
}
@media only screen and (max-width: 780px) {
.footer3 .ic{
	width:90%;
}
.footer3 .ic .sol{
	width:100%;
}
.footer3 .ic .sag{
	width:80%;
}
.footer3 .ic .sol .img{
	float:right;
	margin:8px;
	width:16px;
}
}
@media only screen and (max-width: 720px) {
.footer3 .ic{
	width:90%;
}
.footer3 .ic .sol{
	width:100%;
}
.footer3 .ic .sag{
	width:90%;
}
.footer3 .ic .sol .img{
	float:right;
	margin:8px;
	width:16px;
}
}
@media only screen and (max-width: 640px) {
.footer3 .ic{
	width:90%;
}
.footer3 .ic .sol{
	width:100%;
}
.footer3 .ic .sag{
	width:100%;
}
.footer3 .ic .sol .img{
	float:right;
	margin:8px;
	width:16px;
}
}
@media only screen and (max-width: 640px) {
.footer3 .ic{
	width:90%;
}
.footer3 .ic .sol{
	width:100%;
}
.footer3 .ic .sag img{
	width:35%;
	height:auto;
}

}
@media only screen and (max-width: 490px) {
.footer3 .ic{
	width:90%;
}
.footer3 .ic .sol{
	width:100%;
}
.footer3 .ic .sag img{
	width:180px;
	height:auto;
	margin:10px 23%;
	float:none;
}

}

