.sidenav {
    height: 100%;
    width: 90%;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    background-color: #D9D9D9;
    overflow: hidden;
    transition: 0.5s;
	display:none;
}
.closenav {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.25);
	display:none;
}
.restabmenu{
	width:100%;
	height:35px;
	background-color:#DFDFDF;
	position:relative;
}
.restabmenuic{
	position:absolute;
	right:40px;
	left:0;
}
.restabmenu button{
	width:100%;
	min-height:35px;
	padding:5px 10px;
	float:left;
	border:0;
	outline:0;
	line-min-height:25px;
}
.restabmenu button:hover{
	background-color:#EC7404;
	color:#F5F5F5;
}
.itembtn{
	width:100%;
	height:35px;
	margin:0;
	float:left;
}
.abtn{
	background-color:#EC7404;
	color:#F5F5F5;
}

.cik{
	float:right;
	width:40px;
	height:35px;
}
.cik button{
	font-size:20px;
}
.citymenu{
	position:absolute;
	left:0;
	right:0;
	bottom:0;
	top:35px;
	overflow:scroll;
	overflow-x:hidden;
}

#accordian {
		background: #00588A;
		width: 100%;
		color: white;
		margin:0;
		padding:0;
}
#accordian  a {
		padding: 0 10px;
		font-size: 12px;
		line-height: 34px;
		display: block;
		color: white;
		text-decoration: none;
		margin:0;
		padding:0;
}

#accordian ul {
	width:100%;
		margin:0;
		padding:0;
}
#accordian li {
	width:100%;
		list-style-type: none;
}

#accordian  ul li a{
		color: white;
		text-decoration: none;
		font-size: 11px;
		line-height: 27px;
		display: block;
		padding: 0 15px;
		-webkit-transition: all 0.15s;
		transition: all 0.15s;
		position: relative;
}

#accordian ul ul li a:hover {
		background: #003545;
		border-left: 5px solid #1A72B1;
}

#accordian ul ul {
		display: none;
}

#accordian li.active>ul {
		display: block;
}

#accordian ul ul ul {
		margin-left: 15px;
		border-left: 1px dotted rgba(0, 0, 0, 0.5);
}

#accordian a:not(:only-child):after {
		content: ">";
		font-family: fontawesome;
		position: absolute;
		right: 10px;
		top: 0;
		font-size: 14px;
}

#accordian .active>a:not(:only-child):after {
		content: "<";
}
#accordian ul li a{
	background-color:#00588A;
}
#accordian ul ul li a{
	background-color:#0069A4;
}
#accordian ul ul ul li a{
	background-color:#0082CB;
}
	

















